[submodule "session.vim--Odding"]
	path = session.vim--Odding
	url = git://github.com/vim-scripts/session.vim--Odding.git
[submodule "vim-pasta"]
	path = vim-pasta
	url = git://github.com/sickill/vim-pasta.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim-quickrun"]
	path = vim-quickrun
	url = git://github.com/thinca/vim-quickrun.git
[submodule "vim-space"]
	path = vim-space
	url = git://github.com/spiiph/vim-space.git
[submodule "vim-yankring"]
	path = vim-yankring
	url = https://github.com/chrismetcalf/vim-yankring
